<div class="about-section">
  <p> <p>
  <p>Hi, I'm Yun Zhang.I am in the field of <strong>Statistics and Financial Engineering</strong> and am on track to graduate with both <em>BS and M.Eng degrees</em> from Cornell University within 4.5 years, with an expected completion date of December 2025.</p>
  <p>My areas of expertise include <strong>Statistics, Business, Data Science,</strong> and <strong>Finance</strong>. I have honed my skills in Business Analysis and financial engineering, with proficiency in <strong>Python, SQL, R, Excel, STATA, CANVA,</strong> and <strong>Logic Pro</strong>.</p>
</div>

