---
layout: default
title: Interests
---

<div class="interests-container">
  <h2>Interests</h2>
  <div class="interest-section">
    <h3>Music</h3>
    <p>As the President & Singer of Cornell REAL A Cappella, I have a passionate involvement in music, particularly in performing KPOP song covers.</p>
  </div>
  
  <div class="interest-section">
    <h3>Journalism</h3>
    <p>Drawing from my experience as the Chief Editor of my high school newspaper, I have a deep interest in journalism and written expression.</p>
  </div>

  <div class="interest-section">
    <h3>Languages</h3>
    <p>I pride myself on being multilingual. I am proficient in English, speak Chinese natively, and have intermediate skills in Korean.</p>
  </div>

  <div class="interest-section">
    <h3>Computer Skills</h3>
    <p>My technical skills are vast, ranging from programming in Python, C++, and SQL, to statistical analysis in R and Excel, to creative endeavors using STATA, CANVA, Logic Pro, Adobe Audition, and iMovie.</p>
  </div>
</div>

