---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">About</h3>
    {{ Hi, I'm Yun Zhang. I am in the field of Statistics and Financial Engineering and am on track to graduate with both BS and MS degrees from Cornell University within 4.5 years, with an expected completion date of December 2025. I have had expertise in Statistics, Business, Data Science and Finance. I have honed my skills in Business Analysis and financial engineering, with proficiency in Python, SQL, R, Excel, STATA, CANVA, and Logic Pro. }}
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>

{% include publications.html %}

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
